<!DOCTYPE html>
<html>
  <head>
    <title>Investr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <script type="text/javascript">
      window.splashIcon = "<%= image_url('investr.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
